(git fetch --quiet &) >/dev/null 2>&1

UPSTREAM='@{u}'
if [[ -n "$1" && ! -f "$1" ]]; then
    UPSTREAM="$1"
fi
LOCAL=$(git rev-parse @)
REMOTE=$(git rev-parse "$UPSTREAM")

if [ "$LOCAL" != "$REMOTE" ]; then
    BASE=$(git merge-base @ "$UPSTREAM")
    if [ "$LOCAL" = "$BASE" ]; then
        echo "Updates available on remote. Run 'git pull --rebase' to update."
    fi
fi
