(git fetch --quiet &) >/dev/null 2>&1

UPSTREAM='@{u}'
if git rev-parse "$UPSTREAM" >/dev/null 2>&1; then
    LOCAL=$(git rev-parse @)
    REMOTE=$(git rev-parse "$UPSTREAM")

    if [ "$LOCAL" != "$REMOTE" ]; then
        BASE=$(git merge-base @ "$UPSTREAM")
        if [ "$LOCAL" = "$BASE" ]; then
            echo -e "\e[1;33mUpdates available on remote.\e[0m Run 'git pull --rebase' to update." >&2
        fi
    fi
fi
